@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    @*<p>API: @Configuration["ApiURL"] </p>
    <p>ENV: @Configuration["Field1"]</p>*@
    <p>ENVIRONMENT: @HostEnvironment.Environment</p>
    <p>BASE ADDRESS: @HostEnvironment.BaseAddress</p>
    @*@Configuration["Person:Name"]*@
</div>

Welcome to your new app.
